<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= pageTitle %> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/styles/style.css">