<%- include('./elements/header.ejs',{pageTitle:pageTitle,errorMsg:errorMsg})  %> 
</head>
<body>
<div style="display:flex;align-items:center;justify-content: center;flex-direction: column;height:100vh">
    <h1>Page Not Found!</h1>
    <h2>Please enter a valid url.</h2>   
</div>
<%- include('./elements/footer.ejs') %> 