.profile-container{
    margin:auto;
    margin-top:10%;
    background-color: #EAEAEA;
    display: flex;
    width: 90vw;
    padding:60px 30px ;
    color:#3C4048;
    /* text-align: center; */
    /* align-items: center; */
    border-radius: 10px;
}
.user-image{
    margin-right: 50px;
}
.profile-image{
    width: 100%;
    height: 100%;
    border-radius:50%;
}

.profile-property{
    list-style:disc;
}
.image-container{
    width:400px;
    height:400px;
}
.profile-container form{
    position:relative;
}
.profile-container form  button{
    z-index: 10;
    position: absolute;
    bottom:8px;
    right:10px;
    border-radius: 50%;
    background: transparent;
    outline:none;
    border:none;
    cursor:pointer;
}
.profile-container form  button i{
    font-size: 30px;
    color:black;
}
.user-details h1{
    color:#00ABB3;
    font-size: 60px;
    margin-bottom: 30px;
}