/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Universal Selectors */
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  list-style: none;
  text-decoration: none;
}

/* variables */

:root{

  /* color */
  --main-color: #2288ff;
  --second-color: #192f6a;
  --text-color: #314862;
  --bg-color: #fff;

  /* Box Shadow */
  --box-shadow: 2px 2px 18px rgb(14 52 54 / 15%)
}
img{
  width: 100%;
}
body{
  color: var(--text-color);
  background: #2288ff;
}
header{
  display: block;
  width: 100%;
  background: #2288ff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
section{
  padding: 2rem 0 3rem;
}

                        /*  Header Styling */


.header{
  font-size:14px;
  margin:2% 6%;
  display: flex;
  flex-direction: column;
  margin-right:9%;
  background:transparent;
  text-align: center;
}
.prop-logo{
  font-size:40px;
  font-weight: 700;
  margin-left:20px;
  color: white;
}

.heading{
  text-align: center;
  margin-bottom: 50px;
}
.heading span{
  font-weight: 500;
  color: var(--main-color);
}
.heading h2{
  font-size: 1.7rem;
}
.heading p{
  font-size: 0.938rem;
}

.container{
  max-width: 1068px;
  margin-left:auto;
  margin-right:auto;
}
.properties {
  background: #fbfbfb;
  border-radius: 2rem;
}
.properties-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 3rem;
  padding: 0 50px;
}
.properties-container .box{
  background: var(--bg-color);
  padding:10px;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}
.properties-container .box:hover{
  transform: translateY(-10px);
  transition: 0.5s;
}
.properties-container .box img{
  border-radius: 1rem;
  height: 220px;
  object-fit: cover;
  object-position: center;
}
.properties-container .box h3{
  font-size: 1rem;
  font-weight: 600;
  float: right;
}
.properties-container .box .content{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.properties-container .box .content .text h3{
  font-weight: 500;
}
.properties-container .box .content .text p{
  font-size: 0.8rem;
}
.properties-container .box .content .text h3{
  font-weight: 500;
}
.proper ties-container .box .content .icons{
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.properties-container .box .content .icons .bx{
  display: flex;
  align-items: center;
  font-size: 20px;
}
.properties-container .box .content .icons span{
  font-size: 12px;
  font-weight: 500;
  margin-left: 4px;
}
.link-to-properties{
  text-align: center;
  margin-top:50px;
}